<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/gm.css">

    <title>Rock Paper Scissors</title>
</head>

<body>
    <div>
        <div>
            <a type="button" href="/" class="kembali"> <img src="/assets/kembalii.png">
            </a>
            <img src="/assets/logo 1.png" class="logo">
            <h1 class="rps">ROCK PAPER SCISSORS</h1>
        </div>

        <div class="container">
            <div class="area-player">
                <h1 class="cup1">PLAYER 1</h1>
                <ul>
                    <li> <img class="batu" src="/assets/batu.png" alt=""> </li>
                    <li> <img class="kertas" src="/assets/kertas.png" alt=""> </li>
                    <li> <img class="gunting" src="/assets/gunting.png" alt=""> </li>
                </ul>
            </div>
            <div class="info">
                <h1 class="ket"></h1>
            </div>
            <div>
                <h1 class="cup2">COM</h1>
                <div class="areacomp">
                    <img class="batu1" src="/assets/batu 1.png" alt="">
                    <img class="kertas1" src="/assets/kertas 1.png" alt="">
                    <img class="gunting1" src="/assets/gunting 1.png" alt="">
                </div>
            </div>
            <div>
                <a href="/gamepage">
                    <img src="/assets/refresh.png" class="rfs">
                </a>
            </div>
        </div>
        <script src="/js/script.js"></script>
</body>

</html>