<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">

  <title>Traditional Game</title>
</head>

<body>
  <header>
    <!-- halaman awal -->
    <nav class="navbar navbar-expand-lg fixed-top">
      <!-- navbar -->
      <div class="container">
        <a class="navbar-brand" href="">LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#home">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="#features">Features</a></li>
            <li class="nav-item"><a class="nav-link" href="#requirements">Requirements</a></li>
            <li class="nav-item"><a class="nav-link" href="#topscore">TopScore</a></li>
            <span class="space"></span>
            <li class="nav-item"><a class="nav-link" href="/create">Sign Up</a></li>
            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
          </ul>
        </div>
      </div>
    </nav><!-- navbar  -->

    <div class="content" id="home">
      <!-- halaman satu -->
      <div>
        <h1>PLAY TRADITIONAL GAME</h1>
        <p>Experience New Traditional Game Play</p>
      </div>
      <div class="ts">
        THE STORY
        <br>
        <svg width="20" height="15" viewBox="0 0 23 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M21.5786 1.83362H1.32422L11.338 10.0027L21.5786 1.83362Z" stroke="white" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
    </div>
  </header>
  <a href="/gamepage" class="cta">
    <button">PLAY GAME</button>
  </a>
  <!-- halaman satu  -->

  <div class="halaman2" id="about">
    <!-- halaman dua -->
    <h6>What's so special?</h6>
    <h1>THE GAMES</h1>

    <div class="img-slider">
      <div class="slide active">
        <img src="/assets/rockpaperstrategy-1600.jpg" alt="">
      </div>
      <div class="slide">
        <img src="/assets/rockpaperstrategy-1600.jpg" alt="">
      </div>
      <div class="slide">
        <img src="/assets/rockpaperstrategy-1600.jpg" alt="">
      </div>
      <div class="navigation">
        <div class="btn active"></div>
        <div class="btn"></div>
        <div class="btn"></div>
      </div>
    </div>
    <script type="text/javascript">
      var slides = document.querySelectorAll('.slide');
      var btns = document.querySelectorAll('.btn');
      let currentSlide = 1;

      // Javascript for image slider manual navigation
      var manualNav = function (manual) {
        slides.forEach((slide) => {
          slide.classList.remove('active');

          btns.forEach((btn) => {
            btn.classList.remove('active');
          });
        });

        slides[manual].classList.add('active');
        btns[manual].classList.add('active');
      }

      btns.forEach((btn, i) => {
        btn.addEventListener("click", () => {
          manualNav(i);
          currentSlide = i;
        });
      });

      // Javascript for image slider autoplay navigation
      var repeat = function (activeClass) {
        let active = document.getElementsByClassName('active');
        let i = 1;

        var repeater = () => {
          setTimeout(function () {
            [...active].forEach((activeSlide) => {
              activeSlide.classList.remove('active');
            });

            slides[i].classList.add('active');
            btns[i].classList.add('active');
            i++;

            if (slides.length == i) {
              i = 0;
            }
            if (i >= slides.length) {
              return;
            }
            repeater();
          }, 10000);
        }
        repeater();
      }
      repeat();
    </script>
  </div><!-- halaman dua -->

  <div class="halaman3" id="features">
    <!-- halaman3 -->
    <h6>What's so special?</h6>
    <h1>FEATURES</h1>
    <h4 class="tg">TRADITIONAL GAMES</h4>
    <p>If you miss your childhood, we provide many traditional games here</p>
    <h4 class="gs">GAME SUIT</h4>
    <h4 class="tbd">TBD</h4>
    <img class="els1" src="/assets/Ellipse 1.png">
    <img class="pgrs" src="/assets/progress bar.png">
    <img class="els2" src="/assets/Ellipse.png">
    <img class="els" src="/ssets/Ellipse.png">
  </div>
  </div><!-- halaman 3 -->

  <div class="halaman4" id="requirements">
    <!-- halaman4 -->
    <h1>SYSTEM REQUIREMENTS</h1>
    <h6>Can My Computer Run this game?</h6>
    <table border="1" class="tblspec">
      <tr>
        <td class="head1">OS:
          <p class="head2p">Windows 7 64-bit only (No OSX support at this time)</p>
        </td>
        <td class="head2">PROCESSOR:
          <p class="head2p">Inter Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHX </p>
        </td>
      </tr>
      <tr>
        <td class="head3" rowspan="2">
          MEMORY:
          <p class="head3p">4 gb ram</p>
        </td>
        <td class="head4" rowspan="2">
          STORAGE:
          <p class="head4p">
            8 GB Available Space</p>
        </td>
      </tr>
      <tr></tr>
      <tr>
        <td colspan="2" class="head5">GRAPHICS:
          <p class="head5p">NIVIDIA GeFOrce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
        </td>
      </tr>
    </table>
  </div><!-- halaman 4 -->

  <div class="halaman5" id="topscore">
    <!-- halaman5 -->
    <h1>TOP SCORES</h1>
    <h6>This top score from various games provided on thisplatform.</h6>
    <a type="button" class="smrr">SEE MORE</a>

    <div class="card-header">
      <img class="twitter" src="/assets/twitter.png">
      <div class="card-container">
        <div class="image-container">
          <img src="/assets/poto.jpg" />
        </div>
      </div>
      <div class="lower-container">
        <div>
          <h3>Evan Lahti</h3>
          <h4>PC Gamer</h4>
        </div>
        <div>
          <p>“One of my gaming highlights of the year.”
          </p>
          <h6>October 18,2018</h6>
        </div>
      </div>
    </div>

    <div class="card-header2">
      <img class="twitter2" src="/assets/twitter.png">
      <div class="card-container2">
        <div class="image-container">
          <img src="/assets/poto.jpg" />
        </div>
      </div>
      <div class="lower-container2">
        <div>
          <h3>Jada Griffin</h3>
          <h4>Nerdreactor</h4>
        </div>
        <div>
          <p>“The next big thing in the world of streaming and survival games.”
          </p>
          <h6>Desember 21,2018</h6>
        </div>
      </div>
    </div>

    <div class="card-header3">
      <img class="twitter3" src="/assets/twitter.png">
      <div class="card-container3">
        <div class="image-container">
          <img src="/assets/poto.jpg" />
        </div>
      </div>
      <div class="lower-container3">
        <div>
          <h3>Aaron Williams</h3>
          <h4>Uproxx</h4>
        </div>
        <div>
          <p>“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</p>
          <h6>December 24,2018</h6>
        </div>
      </div>
    </div>
  </div>
  </div><!-- halaman 5 -->

  <div class="halaman6">
    <!-- halaman6 -->
    <h6 class="wtsit">want to stay in touch?</h6>
    <h1>NEWSLETTER SUBSCRIBE</h1>
    <h6 class="descc">In order to start receiving our news, all you have to do is enter your email address. Everything
      else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</h6>
    <a type="button" class="subsno">Subscribe now</a>
    <img class="skull" src="/assets/assets_imageskull.png">
    <input type="email" placeholder="Your email address" class="textinput-email"></input>
  </div>
  <!-- foot stat -->
  <footer class="footer">
    <div>
      <a href="https://www.facebook.com/"><img class="fcbk" src="/assets/facebook.png"></a>
      <a href="https://www.youtube.com/"><img class="yutup" src="/assets/youtube.png"></a>
      <a href="https://www.twitter.com/"><img class="twit" src="/assets/twitter.png"></a>
      <a href="https://www.vector.com/"><img class="vec" src="/assets/vector.png"></a>
    </div>
    <div class="vertical">
      <h1>MAIN</h1>
      <h2>ABOUT</h2>
      <h3>GAME FEATURES</h3>
      <p>SYSTEM REQRUITMENTS</p>
      <h5>QUOTES</h5>
    </div>
    <div>
      <hr width="100%" color="white">
    </div>
    <div>
      <p class="cpyrgt"> © 2018 Your Games, Inc. All Rights Reserved</p>
    </div>
    <div>
      <h3 class="priva">Privacy Policy | Terms of Services | Code of Conduct </h3>
    </div>
  </footer>
  <!-- end foot-->

  <!-- halaman 6 -->
  <script src="/js/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>
</body>

</html>