* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #9c835f;
}
header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.kembali {
  position: absolute;
  left: 37px;
  top: 0px;
  font-weight: bold;
  font-size: 55px;
  line-height: 98px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #724c21;
}
.logo {
  position: absolute;
  width: 62px;
  height: 62px;
  left: 119px;
  top: 15px;
}
.rps {
  position: absolute;
  left: 220px;
  top: 25px;
  right: 0px;
  font-family: Open sans-serif;
  font-weight: bold;
  font-size: 35px;
  text-align: left;
  color: #f9b23d;
}
.cup1 {
  position: absolute;
  left: 240px;
  top: 120px;

  font-family: Open sans-serif;
  font-size: 30px;
  line-height: 49px;
  text-align: left;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.cup2 {
  position: absolute;
  width: 280px;
  height: 94px;
  left: 775px;
  top: 120px;

  font-family: Open sans-serif;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.2em;
}
.batu {
  position: absolute;
  width: 128px;
  height: 92px;
  left: 255px;
  top: 200px;
}
.kertas {
  position: absolute;
  width: 115px;
  height: 150px;
  left: 255px;
  top: 590px;
}
.gunting {
  position: absolute;
  width: 134px;
  height: 160px;
  left: 255px;
  top: 370px;
}
.batu1 {
  position: absolute;
  width: 128px;
  height: 92px;
  left: 855px;
  top: 200px;
}
.gunting1 {
  position: absolute;
  width: 134px;
  height: 160px;
  left: 855px;
  top: 370px;
}
.kertas1 {
  position: absolute;
  width: 115px;
  height: 160px;
  left: 855px;
  top: 590px;
}
.rfs {
  position: absolute;
  width: 77px;
  height: 71px;
  left: 570px;
  top: 755px;
}
.kertas,
.gunting,
.batu {
  cursor: pointer;
  transition: 0.3s;
}
.kertas:hover,
.batu:hover,
.gunting:hover,
.active {
  background-color: #cacaca;
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
}
.info {
  position: absolute;
  width: 261.11px;
  height: 156.93px;
  left: 500px;
  top: 350px;
  background: #4c9654;
  border-radius: 20px;
  transform: rotate(-28.87deg);
}
.ket {
  position: relative;
  font-family: Open sans-serif;
  font-weight: bold;
  font-size: 34px;
  text-align: center;
  letter-spacing: 0.2em;
  line-height: 50px;
  color: #ffffff;
  top: 35px;
}
